
// 全局
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-image: url('http://dev.jihui88.net/jihui_uc/static/gplaypattern.png');
  background-color: rgb(236, 236, 236);
}
li {
  list-style: none;
}
.container{
  box-sizing: border-box;
  padding-top: 120px;
}
.login {
  margin: 0 auto;
  width: 640px;
  box-sizing: border-box;
  padding: 50px;
  background: #fff;
}
.login-ft {
  display: flex;
  justify-content: space-between;
}
h1 {
  color: #474a4f;
}
.input-row {
  display: flex;
  align-items: center;
}
.input-row-item {
  flex: 1;
}

.main-content {
  width: 1000px;
  margin: 30px auto;
  overflow: hidden;
  zoom: 1;
  background: #fff;    
  .mu-td {
    overflow: hidden;
  }
}
